@CHARSET "ISO-8859-1";
*{
	margin:0px;
	padding:0px;
}
body, select{
	font: normal 14px Arial, sans-serif;
}
.global-container{
	width:1024px;
	margin:auto;
}
.body-container{
	width:100%;
	display:block;
	clear:left;	
}
.customer-name{
	font-weight: bold;
	display: block;
}
.customer-items{
	display: block;
}

.footer{
	display:block;
	clear:both;
}